# data file
data/
res/sales_info/
res/item_rate/
res/item_label/
res/model/
*.csv

# class file
*.class

# package file
*.war
*.ear

# kdiff3 ignore
*.orig

# maven ignore
target/

# eclipse ignore
.settings/
.project
.classpath

# idea
.idea
/idea/
*.ipr
*.iml
*.iws

# temp file
*.log
*.cache
*.diff
*.patch
*.tmp

# system ignore
.DS_Store
Thumbs.db
